* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: #EEECE0;
    overflow: auto;
}
#grid {
    display: grid;
    height: 100vh;
    padding: 10px;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px 30vh 55vh;
    grid-template-areas: "item1 item1 item1" "item2 item3 item4" "item5 item5 item5";

}
#grid2 {
    display: grid;
    height: 100vh;
    padding: 0px 10px;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 62vh 30vh 35vh 70vh;
    grid-template-areas: "item6 item7 item8" "item9 item10 item8" "item11 item12 item13" "item14 item15 item16" ;

}
.item1 {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: item1;
    background-color: #EEECE0;
}
.item2 {
    width: 650px;
    grid-area: item2;
    background-color: transparent;
    display: flex;
    align-items: flex-end


}
.item3 {
    display: flex;
    align-items: flex-end;
    grid-area: item3;
    background-color: transparent;
}
.item4 {
    grid-area: item4;
    background-color: transparent;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
}
.item5 {
    background-image: url(https://images.unsplash.com/photo-1760365574462-34321eb3f6e5?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    grid-area: item5;
    background-color: transparent;
    border-radius: 10px;
}
.item1 button {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.language-button {
    font-family: 'Times New Roman', Times, serif;
    background-color: #beb696;
    color: #263924;
    border-radius: 70px;
}
.book-tour-button {
    background-color: #0f2a12;
    color: #ffffff;
    border-radius: 10px;
}
.item1 a {
    text-decoration: none;
    color: #263924;
}
.item2 h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 77px;
}
.item3 p {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #263924;
    padding: 0px;
}
.item4 a{
    text-decoration: none;
    color: #263924;
}
.item6 {
    border-radius: 10px;
    height: 450px;
    grid-area: item6;
    background-color: transparent;
    background-image: url(https://images.unsplash.com/photo-1713959989861-2425c95e9777?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
.item7 {
    color: #263924;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: item7;
    background-color: transparent;
}
.item8 {
    border-radius: 10px;
    background-image: url(https://images.unsplash.com/photo-1763743882687-dde4488507df?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    grid-area: item8;
    background-color: #009B77;
}
.item9 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: item9;
    background-color: transparent;
    color: #263924;
}
.item10 {
    padding: 10px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
    color: #263924;
    grid-area: item10;
}
.item11 {
    
    grid-area: item11;
    background-color: transparent;
}
.item12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    grid-area: item12;
    background-color: transparent;
}
.item13 {
    grid-area: item13;
    background-color: transparent;
}
.item14 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    flex-direction: column;
    grid-area: item14;
    background-color: transparent;
}
.item15 {
    background-image: url(https://images.unsplash.com/photo-1762893134167-b4f78f1f4f40?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    grid-area: item15;
    border-radius: 10px;
}
.item16 {
    color: #263924;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    grid-area: item16;
}

.item7 h3{
   font-size: 40px;
}
.item7 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.item7 i{
    font-size: 20px;
}
.item7 a {
    text-decoration: none;
    color: #263924;
}
.item7 p:nth-child(1){
    color: #beb696;
}  
.item9 h2{
    font-size: 30px;
}
.item9 h3{
    font-size: 20px;
}
.item9 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.item9 hr{
    border: 2px solid #263924;
}

.item10 h2{
    font-size: 30px;
}
.item10 h3{
    font-size: 20px;
}
.item10 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.item10 hr{
    border: 2px solid #263924;
}
.item10 p i{
    font-size: 30px;
}
.item12 p:nth-child(1){
    color: #beb696;
}
.item12 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.item12 h2{
    font-size: 30px;
}
.item14 p{
    padding: 20px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    height: 70px;
    text-align: left;
    width: 80%;
    display: inline-block;
    background-color: #beb696;
    color: #263924;
}
.item16 h3{
   font-size: 40px;
}
.item16 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.item16 i{
    font-size: 20px;
}
.item16 a {
    text-decoration: none;
    color: #263924;
}
.item16 p:nth-child(1){
    color: #beb696;
}
.item16 p:nth-child(2){
    font-size: 40px;
}
.item16 .info {
    font-size: 15px;
    font-weight: 700;
}
.book-tour-button:hover{
    background-color: #beb696;
    color: #263924;
    transition: all 0.5s ease;
    transform: scale(1.1);
}
.item1 a:hover {
    text-decoration: underline;
    transition: all 0.5s ease;
    transform: scale(1.3);
}
.item5:hover{
    box-shadow: 10px 10px 15px #263924;
    transition: all 0.5s ease;
}
.item6:hover{
    box-shadow: 10px 10px 15px #263924;
    transition: all 0.5s ease;
}
.item8:hover{
    box-shadow: 10px 10px 15px #263924;
    transition: all 0.5s ease;
}
.item15:hover{
    box-shadow: 10px 10px 15px #263924;
    transition: all 0.5s ease;
}
.item14 p:hover {
    background-color: #263924;
    color: #beb696;
    transition: all 0.5s ease;
}
.item4 a:hover{
    text-decoration: underline;
    transition: all 0.5s ease;
}
.item7 a:hover{
    text-decoration: underline;
    transition: all 0.5s ease;
}
.item16 a:hover{
    text-decoration: underline;
    transition: all 0.5s ease;
}